/*MOBILE STYLES*/

@media only screen and  (max-width : 1000px) {

	#portal-top{
    background-image:none;
	}
	#headcoursetitle {
	margin-left:.9em;
	}
	
	#titlebox{
	width:100%;
	margin-bottom:3px;
	}
	
	#portal-siteactions{
	float:left;
	margin-left:4px;
	}
	
	#portal-searchbox{
    clear:none;
    margin-bottom:2px;
    }

}/*END WIDTH 1000PX*/

@media only screen and  (max-width : 800px) {
	#psulogo{
	margin-left:5px;
	}
	#collegeof{
    font-size:.6em;
    }
	#liberalarts{
    font-size:1.5em;
    }
	#headcoursetitle {
	margin-left:1em;
	}

	#headcoursetitle h2{
    display:block;
    font-size:1.3em;
    }
    
    #portal-column-content{
    background-color:#ffffff; 
    width:76%;
    }
    
    #portal-column-one{
    width:20%;
    }
}
	




@media only screen and  (max-width : 600px) {

#visual-portal-wrapper {
    margin: 5px 15px 0;
}
#portal-top{
    background-image:none;
    border-width:1px;
}

#portal-header{
    height:80px;
}

#titlebox {
    height: auto;
    width: 100%;
}

#psulogo{
    width:100px;
    margin-left:10px;
}

#cla{
     width:auto;
}

#liberalarts {
    font-size: 1.3em;
}

#portal-column-one {
    background-color: #AC5867;
    border: 1px solid #AC5867;    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: none;
    margin: 0 0 1em 0;
    width: 100%;
}

.portletNavigationTree .portletHeader{
    background-color:#AC5867;
    border:none;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    }

dl.portletNavigationTree dd.portletItem {
     display:none;
}

#portal-column-content {
    background-color: #FFFFFF;
    border: 1px solid #5B82AA;
    border-radius: 10px 10px 10px 10px;
    float: none;
    margin: 0 0 4px;
    padding: 0;
    width: auto;
}

#portal-siteactions{
     display:none;
}

#portal-searchbox{
    display:none;
}

#headcoursetitle {
	clear:both;
	float:none;
    display:block;
    margin-top: 5px;
    padding-left:0;
    text-align: center;
    margin-left:0;
    }

#headcoursetitle h2{
    display:block;
    font-size:1.3em;
}

#headcoursetitle h3{
    font-size:.6em;
}

#courseimagetile{
     display:none;
}

}