/*MOBILE STYLES*/
/* 1. Max width 1000px */
/* 2. Max width 900px */
/* 3. Max width 600px */

/* 1. Max width 1000px */
@media only screen and (max-device-width: 1000px), (max-width: 1000px) {
   
        
    #headcoursetitle {
	margin-left:1.5em;
	}
	
	#collegeof{
        font-size:.6em;
    }
	
    #liberalarts{
        font-size:1.5em;
    }
}

/* 2. Max width 900px */
@media only screen and (max-device-width: 900px), (max-width: 900px) {

       

	#headcoursetitle {
	margin-left:2em;
	}

	
	
	#titlebox{
        background-image:none;
	width:100%;
	margin-bottom:3px;
	}
	
       #psulogo{
	margin-left:10px;
	}
	
    
       #portal-column-content{
       background-color:#ffffff; 
       width:76%;
       }

    #portal-searchbox{
    	display:none;
	}
	
	div.row #portal-searchbox {
    	display: none !important;
	}

}/*END WIDTH 900PX*/
	



/* 3. Max width 600px */
@media screen and (max-device-width: 600px),(max-width: 600px){

	#visual-portal-wrapper {
    	margin: 5px 15px 0;
	}

	#portal-top{
    	background-image:none;
    	border-width:0px;
	}

	#portal-header{
    	height:80px;
	}

	#titlebox {
    	display:block;
   	height: auto;
    	width: 100%;
	}
	
	#psulogo{
    	width:100px;
    	margin-left:10px;
	}

	#cla{
		width:auto;
	}

	#liberalarts {
    	font-size: 1.3em;
	}

	#portal-column-one {
		background-color: #074C76;
    	border: 1px solid #074C76;    
    	-webkit-border-radius: 10px;
    	-moz-border-radius: 10px;
    	border-radius: 10px;
    	float: none;
   		margin: 0 0 1em 0;
    	width: 100%;
	}

	.portletNavigationTree .portletHeader{
    	background-color:#074C76;
        color:#ffffff;
   		border:none;
   		-webkit-border-radius: 5px 5px 5px 5px;
    	-moz-border-radius: 5px 5px 5px 5px;
    	border-radius: 5px 5px 5px 5px;
    	cursor:pointer;
    }

	dl.portletNavigationTree dd.portletItem {
    	display:none;
	}
	
	dl.portletStaticText dd.portletItem {
    	display:none;
	}

	#portal-column-content {
    	background-color: #FFFFFF;
    	border: 1px solid #5B82AA;
    	border-radius: 10px 10px 10px 10px;
    	float: none;
    	margin: 0 0 4px;
    	padding: 0;
    	width: auto;
	}

	#portal-siteactions{
    	display:none;
	}

	#portal-searchbox{
    	display:none;
	}
	
	div.row #portal-searchbox {
    	display: none !important;
	}

	#headcoursetitle {
		clear:both;
		float:none;
    	display:block;
    	margin-top: 5px;
    	padding-left:0;
    	text-align: center;
    	margin-left:0;
    }

	#headcoursetitle h1{
    	display:block;
    	font-size:1.3em;
	}

	#headcoursetitle h2{
    	font-size:.6em;
	}

	#courseimagetile{
    	display:none;
	}
	
/*do not display print all pages link*/
	#document-action-printall {
    display:none;
	}

/*do not display additional portlets in column one*/
	 .portlet.portletStaticText {
        display:none;
    }
    
    .portlet-editors{
        display:none;
    }
        
    div.managePortletsLink{
        display:none;
	}
	
}/*END WIDTH 600PX*/