/*MOBILE STYLES*/

@media screen and (max-device-width: 480px),(max-width: 480px) {

#visual-portal-wrapper {
    margin: 5px 15px 0;
    min-width: auto;
}
#portal-top{
    background-image:none;
    -webkit-box-shadow: #004f00 0px 0px 0px;
    -moz-box-shadow: #004f00 0px 0px 0px; 
    box-shadow: #004f00 0px 0px 0px;
}

#portal-header{
    height:80px;
}

#titlebox {
    height: auto;
    width: 100%;
}

#psulogo{
    width:100px;
    margin-left:10px;
}

#cla{
     width:auto;
}

#liberalarts {
    font-size: 1.3em;
}

#portal-column-one {
    background-color: #AC5867;
    border: 1px solid #AC5867;    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: #AC5867 0px 0px 0px;
    -moz-box-shadow: #AC5867 0px 0px 0px; 
    box-shadow: #AC5867 0px 0px 0px;
    float: none;
    margin: 0 0 1em 0;
    width: 100%;
}

.portletNavigationTree .portletHeader{
    background-color:#AC5867;
    border:none;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    }

dl.portletNavigationTree dd.portletItem {
     display:none;
}

#portal-column-content {
    background-color: #FFFFFF;
    border: 1px solid #5B82AA;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 0px 0px;
    float: none;
    margin: 0 0 4px;
    padding: 0;
    width: auto;
}

#portal-siteactions{
     display:none;
}

#portal-searchbox{
    display:none;
}

#headcoursetitle {
    display:block;
    clear:both;
    margin-top: 5px;
    padding-left:0;
    text-align: center;
    width: auto;
    }

#headcoursetitle h2{
    display:block;
}

#headcoursetitle h3{
    display:inline;
}

#courseimagetile{
     display:none;
}

}/*END MOBILE STYLES*/