h1, h2 {border-bottom:1px solid #867A68;}

ol{list-style-position:inside;}

.clearLeftFloat{clear:left;}
.definitionboxRight{float:right;width:48%;margin:4px;padding:5px;background-color:#DDE5C9;color:#39001D;text-align:left;}
.definitionboxLeft{float:left;width:48%;margin:4px;padding:5px;background-color:#DDE5C9;color:#39001D;text-align:left;}

.didyouknowRight{float:right;width:48%;margin:4px;padding:5px;background-color:#F7F8A0;color:#536511;font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left;}
.didyouknowLeft{float:left;width:48%;margin:4px;padding:5px;background-color:#F7F8A0;color:#536511;font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left;}

.questionboxRight{float:right;width:48%;margin:4px;padding:5px;background-color:#E3DDB5;color:#182008;font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left;}
.questionboxLeft{float:left;width:48%;margin:4px;padding:5px;background-color:#E3DDB5;color:#182008;font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left;}

.exerciseboxRight{float:right;width:300px;margin:4px;padding:5px;background-color:#C4C1B0;color:#4A2400;font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left;}
.exerciseboxLeft{float:left;width:300px;margin:4px;padding:5px;background-color:#C4C1B0;color:#4A2400;font-family:Verdana, Arial, Helvetica, sans-serif;text-align:left;}

.moreabout{clear:both;margin:4px;padding:5px;width:*;background-color:#CDC1BF;color:#39001D;text-align:left;}

.imageboxLeft{float:left;text-align:center;padding:5px;margin:4px;background-color:#A0B769;color:#F3F574;}
.imageboxRight{float:right;text-align:center;padding:5px;margin:4px;background-color:#A0B769;color:#F3F574;}
